body {
  max-width: 500px;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

dialog {
  bottom: 0px;
  width: 100%;
  border: none;
  background-image: url(../images/ring.jpg);
  background-position: center;
  background-size: cover;
  transition: opacity 2s ease-in-out;
}

dialog::backdrop {
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.dialog__title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-text);
}

.title__span {
  font-family: var(--font-text);
  font-weight: 800;
  font-size: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  height: max(668px, 100vh);
  font-family: var(--font-family);
  font-weight: 400;
  background-color: transparent;
}

.header__title {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}

.header__title-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
  color: var(--title-color);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 60px;
}

.header__description {
  display: flex;
  flex-direction: column;
  color: var(--title-color);
  font-family: var(--font-data);
  font-weight: 600;
  font-size: 16px;
}

.header__description-date {
  font-size: 40px;
}

.page {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 400;
}

.title {
  margin-block-start: 100px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 83px;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-inline: 26px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 17px;
  font-style: normal;
  text-align: center;
}

/* .timing__section::after, {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-color: #fff;
} */

.timing__title {
  margin-block-start: 30px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 44px;
  font-style: italic;
}

.element-animation {
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.element-animation.element-show.singl::after {
  right: -20%;
  transition: 2s;
}

.timing__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block-end: 100px;
}

.time {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
}

.dress-code::after,

.prompt__section::after,
.sbor__guest::after,
.location__section::after,
.kalendar::after,
.chat::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.dress-code {
  display: flex;
  align-items: center;
}

.dress__code-title {
  margin-block-start: 30px;
}

.color__container {
  margin-inline: 27px;
}

.image__containet {
  display: flex;
  flex-wrap: wrap;
  row-gap: 26px;
  column-gap: 62px;
  margin-inline: 21px;
  margin-block-end: 60px;
  padding-top: 23px;
  padding-bottom: 45px;
}

.image__card {
  flex-grow: 1;
}

.image__card p {
  display: flex;
  align-items: center;
}

.image {
  width: 101px;
  height: 102px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.image__card__man {
  width: 101px;
  height: 102px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.image__card__girl {
  right: 1px;
  width: 101px;
  height: 102px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.prompt__section {
  position: relative;
}

.prompt__card-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-inline: 12px;
  margin-block-end: 60px;
}

.prompt__card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 10px;
}

.prompt-image {
  grid-row: 1/2;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.prompt__card-title {
  grid-column: 2/2;
  grid-row: 1/2;
  margin-block-end: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.prompt__description {
  grid-column: 2/2;
  grid-row: 1/2;
  margin-block-start: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 208%;
  text-align: left;
}

/* .number {
  text-underline-position: under;
} */

.location__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: 10px;
  margin-block-end: 60px;
}

.location__title {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.location__description {
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}

.city_card {
  margin-top: 50px;
}

.rsvp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: 12px;
  border: none;
  text-align: center;
}

.guests h2 {
  margin-bottom: 30px;
  font-size: 35px;
}

.guests input {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  padding: 15px;
}

.guests button {
  height: 35px;
  margin-top: 20px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.guests button:hover {
  color: #fff;
  background: rgb(233, 150, 122);
  transform: scale(1.1);
}

#sendText {
  display: block;
  color: green;
  text-align: center;
}

#sendText p {
  display: block;
  color: green;
  text-align: center;
}

fieldset {
  border: none;
}

.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 30px;
}

label {
  margin-block-start: 1px;
}

.card {
  display: flex;
  justify-items: start;
}

.phone {
  margin-block-start: 10px;
  text-align: center;
}

.block {
  outline: 1px solid #000;
  text-align: center;
  background-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options {
  position: relative;
  width: 350px;
  height: 38px;
  margin: 0;
  border: none;
  border-radius: 3px;
  padding: 10px 9px;
  outline: 1px solid #000;
  color: #000;
  font-size: 14px;
  text-align: center;
  background: Transparent;
  cursor: pointer;
  appearance: none;
}

.alcohol__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

.search__form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox + .pseudo-checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}

.checkbox[type="checkbox"]:checked + span::after {
  content: "";
  display: flex;
  justify-self: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 2px solid #c5bebe;
  background-color: #000;
}

.button {
  align-self: center;
  width: 200px;
  height: 35px;
  outline: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.close-button {
  width: 70vw;
  margin-top: 74px;
  margin-bottom: 46px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__title {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  color: var(--title-color);
  font-family: var(--font-text);
  font-weight: 600;
}

/* Modification */

/* календарь */
hr.underlining {
  position: relative;
  width: 330px;
  height: 1px;
  margin-top: 54px;
  border: 0;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

hr.underlining__two {
  position: relative;
  width: 330px;
  height: 1px;
  margin-top: 54px;
  border: 0;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.data {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 100px;
  font-style: italic;
}

.calendar {
  width: 370px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  background: transparent;
}

.calendar__title {
  color: #333;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  width: 14.28%;
  height: 50px;

  font-size: 18px;
  text-align: center;
}

th {
  color: #333;
  background-color: transparent;
}

td {
  background-color: transparent;
  transition: background-color 0.3s;
}

td:hover {
  background-color: #e0e0e0;
}


/* соц.сети */
.whatsapp {
  position: relative;
  top: 5px;
  left: 8px;
  width: 23px;
}

.phone__tamada {
  position: relative;
  top: 5px;
  left: 8px;
  width: 23px;
}

/* аудио */
div.fixedbut {
  position: fixed;
  right: 20px;
  bottom: 93%;
  z-index: 999;
  display: none;
  border-radius: 10px;
  padding: 6px 23px;
  color: black;
  font-size: 17px;
  text-decoration: none;
  background: white;
  -webkit-transition: 0.33s all ease-out;
  -o-transition: 0.33s all ease-out;
  transition: 0.33s all ease-out;
}

div.fixedbut:hover {
  color: white;
  background: grey;
}

.volume-button {
  position: fixed; /* Фиксированное положение */
  top: 20px; /* Отступ сверху */
  right: 20px; /* Отступ справа */
  z-index: 1;
  margin-left: 10px; /* Отступ слева от кнопки */
  border: none; /* Убираем рамку */
  background-color: transparent; /* Прозрачный фон для кнопки */
  cursor: pointer; /* Указываем, что элемент интерактивен */
}

.volume-button img {
  width: 40px;
  height: 40px;
}

.volume-control {
  margin-top: 20px;
  margin-right: 25px;
}

.volume-control p {
  color: rgb(0, 0, 0, 0.5);
  font-size: 13px; /* Размер текста */
}

/* сердце */
.heart {
  position: absolute;
  width: 55px;
  opacity: 0;
  transition: opacity ease-in-out 1s, scale ease-in-out 7s;
  scale: 1.5;
}

.heart.show {
  opacity: 1;
  scale: 1;
}

.kalendar__date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin-left: 14px;
}

.pday {
  position: relative;
  z-index: 1;
}

.kalendar {
  position: relative;
  margin-top: 46px;
  opacity: 30%;
  background-color: #fff;
}

.sbor__guest {
  position: relative;
  opacity: 30%;
  background-color: #fff;
}

.chat__section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 30%;
  background-color: #fff;
}

.chat__title {
  margin-top: 45px;
  margin-bottom: 35px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}

.chat__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-inline: 26px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.tg__chat {
  display: flex;
  justify-content: center;
  width: 116px;
  height: 35px;
  margin-top: 35px;
  margin-bottom: 1px;
  border-radius: 16px;
  padding-top: 5px;
  outline: 1px solid #000000;
  color: black;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 21px;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat__bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* тайминги */
.timeline {
  position: relative;
  padding: 20px 0;
}

.event {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.event.left {
  justify-content: flex-start;
}

.event.right {
  justify-content: flex-end;
}

.circle {
  position: absolute;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3498db;
  transform: translateX(-50%);
}

.details {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  padding: 0 10px;
  background: transparent;
}

.details p {
  margin: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 0;
  width: 2px;
  background: #3498db;
  transform: translateX(-50%);
}

/*.background-image {
  background-image: url('/images/timer.jpg'); /* Замените 'your-image.jpg' на ваше изображение */
/* background-size: cover;
  min-height: 914px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для удобочитаемости текста */
/* min-height: 914px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; */
/* }

.text h3 {
  font-size: 70px;
  font-weight: 400;
  color: white;
  margin: 0;
  font-family: var(--font-text), sans-serif;
}

.text h4 {
  font-size: 48px;
    margin: 10px 0;
    color: white;
    font-family: var(--font-text), sans-serif;
    font-weight: 400;
}

.countdown {
  font-size: 40px; 
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.countdown div {
  margin: 0 10px; 
} */

/* , */

.countdown-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/timer.jpg);
  background-position: center;
  background-size: cover;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает покрытие всего контейнера изображением */
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.timer-title,
.countdown-timer {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  
}

.timer-title {
  display: flex;
  flex-direction: column;
  margin-block-end: 60px;
  font-family: "Great Vibes", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  mix-blend-mode: hard-light;
}

.timer-title h2,
.timer-title p {
  color: white;
  mix-blend-mode: hard-light;
}

.countdown-timer {
  top: 354px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.time-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 10px; /* Расстояние между 
  блоками времени */
  color: #fff;
}

.time-number {
  color: white;
  font-size: 46px;
}

.label {
  display: block;
  font-size: 24px;
}

.divider {
  align-self: center; /* Выравнивание по центру по высоте */
  width: 2px; /* Ширина полоски */
  height: 30px; /* Высота полоски, может быть изменена */
  background-color: #ccc; /* Цвет полоски */
}

.timer-block {
  display: flex;
  flex-direction: column;
}


/* текст на картинке */
.location {
  margin-block-start: 100px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 79px;
  text-align: center;
}

.svadba__building {
  background-image: url(/images/zags.webp);
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.building__title {
  display: flex;
  flex-direction: column;
  gap: 329px;
  color: white;
  font-size: 32px;
  font-family: "Great Vibes", sans-serif;
  font-weight: 400;
}

.map-button {
  border: 1px solid #fff;
  width: 200px;
  height: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Merriweather", serif;
}

.svadba__build {
  background-image: url(/images/building.webp);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 1px;
}


.build__title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 32px;
  font-family: "Great Vibes", sans-serif;
  font-weight: 400;
}

.map-button__two {
  border: 1px solid black;
  width: 200px;
  height: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: "Merriweather", serif;
}

.tamada {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
}